html {
  background-color: rgba(0, 191, 255, 0.466);
  width: 100vw;
  height: 100vh;
}

.App{
  height: 100vh;

  /* Center Calculator */
  display: flex;
  align-items: center;
  justify-content: center;
}

